@font-face {
  font-family: 'sejong';
  src: url('../font/KingSejongInstitute-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'TTHakgyoansimJiugaeR';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_keris@1.0/TTHakgyoansimJiugaeR.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

p {
  
  font-family: 'sejong';
  
}

